
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <style>
        body {
            background-color: linen;
        }

        h1 {
            color: maroon;
            margin-left: 40px;
        }
        a {
            margin-left: 80px;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>
            Welcome! What would you like to do?
        </h1>
        <a href="/New/AddUser"> Add New User</a>

    </div>
</body>
</html>
